:root{
    --Primary_Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light_Grey: hsl(217, 12%, 63%);
    --Medium_Grey: hsl(216, 12%, 54%);
    --Medium_Blue :hsla(213, 17%, 24%, 0.877);
    --Dark_Blue: hsl(213, 19%, 18%);
    --Very_Dark_Blue: hsl(216, 12%, 8%);
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Overpass';
}
body{
    min-width: 100vw;
    height: 100vh;
    background-color: var(--Very_Dark_Blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    width: 90%;
    height: 50%;
    background-color: var(--Dark_Blue);
    border-radius: 10px;
}
.cards__header{
    margin: 16px;
}
.icon{
    height: 40px;
    width: 40px;
    font-size: .9em;
    margin: 30px 0;
    background-color: var(--Medium_Blue);
    color: var(--Primary_Orange);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards__header > h1{
    font-weight: 700;
    color: var(--White);
}
.cards__header > p{
    font-size: 15px;
    font-weight: 400;
    color: var(--Light_Grey);
    padding-top: 15px;
}
.cards__footer{
    padding-top: 20px;
    margin: 16px;
}
.cards__footer > ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.cards__rank{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    list-style: none;
    font-size: 15px;
    font-weight: 700;
    color: var(--Medium_Grey);
    background-color:var(--Medium_Blue);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards__rank--false:hover{
    background-color: var(--Primary_Orange);
    color: var(--White);
    cursor: pointer;
}
.cards__rank--true{
    background-color: var(--Medium_Grey);
    color: var(--White);
    cursor: pointer;
}
.cards__footer >input{
    width: 100%;
    height: 46px;
    margin-top: 30px;
    border-radius: 50px;
    color: var(--White);
    font-weight: 700;
    background-color: var(--Primary_Orange);
    border: none;
    letter-spacing: 0.2em;
}
.cards__footer >input:hover{
    background-color: var(--White);
    color: var(--Primary_Orange);
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}
.cards--off{
    display: none;
}
.cards__thanks{
    width: 100%;
    height: 100%;
    color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#imagen{
    padding-top: 20px;
}
#rank__selected{
    width: 55%;
    line-height: 30px;
    border-radius: 12px;
    text-align: center;
    font-weight: 400;
    margin-top: -60px;
    background-color: var(--Medium_Blue);
    color: orange;
    cursor: default;
    font-size: 15px;
}
.cards__thanks h2{
    margin-top: -40px;
    font-weight: 700;
}
.cards__thanks p {
    text-align: center;
    margin-top: -60px;
    font-size: 15px;
    color: var(--Light_Grey);
    line-height: 1.4;
}
 @media (width >= 375px) {
    .cards{
        height: 400px;
        max-width: 400px;
    }
 }